.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #788895;
  padding-top: 50px;
  /* font-size: 1.5rem; */
  /* background: var(--color-bg-variant); */
}
.rocket__container img {
  padding: 10px;
}

.coming-home {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 9vh;
  background: var(--text-primary);
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 1.2rem;
}
